<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right nav-util">
        <li>
          <button id="ip-copy-btn" onclick="copyServerIP()" class="ip-button">
            <span class="ip-text">play.witchcraftmc.com</span>
            <i class="fa-regular fa-copy ip-copy-icon"></i>
            <span class="ip-copied-label">Copied!</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  function copyServerIP() {
    navigator.clipboard.writeText('play.witchcraftmc.com');
    var btn = document.getElementById('ip-copy-btn');
    btn.classList.add('copied');
    setTimeout(function() {
      btn.classList.remove('copied');
    }, 2000);
  }
</script>
