<!-- pages Grid Section -->
<section id="pages">
  <div class="container pages-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Pages<br></h2>
      </div>
    </div>
    <div class="pages-flex-row">
      {% for post in site.posts %}
      <div class="pages-flex-item pages-item">
        {% if post.modal-id %}
          <a href="#pagesModal-{{ post.modal-id }}" class="pages-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <h3>{{ post.caption }}</h3>
              </div>
            </div>
            <img src="img/pages/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          </a>
        {% else %}
          <a href="{{ post.redirect }}" class="pages-link">
            <div class="caption">
              <div class="caption-content">
                <h3>{{ post.caption }}</h3>
              </div>
            </div>
            <img src="img/pages/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
